<div class="bio">
  <h3>Add a brief bio.</h3>
  <h4>Add a little about what you're looking for in a Non-Profit</h4>
  <%= form_for @user do |f| %>
    <%= f.text_field :bio, class: "larger-text-field" %><br />
    <%= f.submit %>
  <% end %>
</div>
