<div class="container">
  <div class="row">
    <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    <!-- IF -->
    <% if @user.non_profits.any? %>
      <ul>
        <% @user.non_profits.each do |non_profit| %>
          <li><%= non_profit.name %></li>
        <% end %>
      </ul>
    <% else %>
      <p>You don't currently have any non profits</p>
    <% end %>
    <!-- END -->
    <section>
      <p><%= link_to "Edit your profile", edit_user_path(@user) %></p>
    </section>

  </div>
</div>
