<div class="container">
  <div class="row">
    <% if @non_profits.any? %>
      <% @non_profits.each do |non_profit| %>
        <section>
          <h1 class="title text-center"><%= non_profit.name %>, <%=non_profit.location%></h1>
          <p class="mission">
            <%= non_profit.mission %>
          </p>
        </section>
        <section>
          <% if user_signed_in? %>
            <div class="form-wrapper">
              <%= button_to "Add this non-profit", user_path(current_user), {method: 'patch', params: non_profit} %>
            </div>
          <% end %>

        </section>
      <% end %>
    <%end%>
  </div>
</div>
