<div class="container">
  <div class="row">
    <h1><%= @non_profit.name %> <%= @non_profit.location %></h1>
    <section>
      <p><%= link_to "Edit your profile", edit_non_profit_path(@non_profit) %></p>
    </section>

  </div>
</div>
